.dashboard {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.dashboard h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 30px;
    text-align: center;
}

.charts, .counts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* این خط اضافه شده است */
    gap: 20px;
    margin: 30px 0;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.418);
    padding: 20px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 100%;
    margin: 0 auto; /* این خط اضافه شده است */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card h2 {
    font-size: 1.75rem;
    color: #555;
    margin-bottom: 15px;
}

.card p {
    font-size: 2rem;
    font-weight: bold;
    color: #1a73e8;
}

.chart {
    width: 100%;
    height: 300px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .charts, .counts {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%; 
        padding: 10px;
    }

    .dashboard h1 {
        font-size: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .charts, .counts {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 600px; 
    }

    .dashboard h1 {
        font-size: 2.2rem; 
    }
}

@media (min-width: 1025px) {
    .charts, .counts {
        flex-direction: row;
        justify-content: center; /* این خط اضافه شده است */
    }

    .card {
        flex: 1 1 45%; 
        margin: 0 auto; /* این خط اضافه شده است */
    }
}
